# Blending Results of Different Models

In [1]:
import pandas as pd
import numpy as np

In [2]:
from functools import reduce
import seaborn as sns

In [3]:
M1 = pd.read_csv('submission_xgb.csv')
M2 = pd.read_csv('submission_cb3.csv')
M3 = pd.read_csv('submission_lgbm.csv')

In [4]:
def merge_dataframes(dfs, merge_keys):
    dfs_merged = reduce(lambda left,right: pd.merge(left, right, on=merge_keys), dfs)
    return dfs_merged

In [5]:
dfs = [M1,M2,M3]
merge_keys=['SK_ID_CURR']
df = merge_dataframes(dfs, merge_keys=merge_keys)

In [6]:
df.head()

   SK_ID_CURR  TARGET_x  TARGET_y    TARGET
0      100001  0.013964  0.148296  0.058008
1      100005  0.133929  0.524518  0.105426
2      100013  0.016027  0.037718  0.011330
3      100028  0.027366  0.137909  0.040338
4      100038  0.104505  0.369212  0.152793

In [8]:
df.columns = ['SK_ID_CURR','T1','T2','T3']
df.head(10)

   SK_ID_CURR        T1        T2        T3
0      100001  0.013964  0.148296  0.058008
1      100005  0.133929  0.524518  0.105426
2      100013  0.016027  0.037718  0.011330
3      100028  0.027366  0.137909  0.040338
4      100038  0.104505  0.369212  0.152793
5      100042  0.027424  0.086948  0.053148
6      100057  0.003664  0.018826  0.000703
7      100065  0.028122  0.094025  0.040406
8      100066  0.007773  0.056042  0.040518
9      100067  0.060093  0.182713  0.139288

In [43]:
pred_prob = 0.75 * df['T1'] + 0.1 * df['T2'] + 0.15 * df['T3']
pred_prob.head()

0    0.038408
1    0.165862
2    0.017022
3    0.041663
4    0.143048
dtype: float64

In [44]:
sub = pd.DataFrame()
sub['SK_ID_CURR'] = df['SK_ID_CURR']
sub['TARGET']= pred_prob

In [45]:
sub.to_csv('blend8.csv', index=False)